.edt{border:1px solid;border-color: #cecece;}.edt .bar{padding:4px;height:44px;border-bottom:1px solid #DDD;background:#F2F2F2;}.edt .cst{background:#F2F2F2;border-bottom:1px solid #DDD;}.edt .cst.nbb{border-bottom:none !important;}.edt .bbar{height:20px;border-top:1px solid #DDD;text-align:right;background:#F2F2F2;}.edt .bbar img{vertical-align:bottom;*margin-right:-4px;cursor:row-resize;}.edt .bbar em{width:200px;height:20px;overflow:hidden;white-space:nowrap;float:left;text-align:left;}.edt .bbar,.edt .bbar a{color:#999;}.edt .btn{float:left;border-right:1px solid #FEFEFE;}.edt .b1r,.edt .b2r{position:relative;float:left;padding:0 3px;height:44px;border-right:1px solid #DDD;border-left:1px solid #FEFEFE;}.edt .b2r p,.edt .b2r br{clear:both;}.edt .esb p{float:left;width:25px;clear:none;}.edt .esbs p{float:left;clear:none;}.edt .bar a{float:left;border:1px solid #F2F2F2;background:transparent url(/static/image/editor/editor.gif) no-repeat 0 0;overflow:hidden;}.edt .b1r a{padding-top:27px;width:35px;height:15px;text-align:center;font-size:11px;font-family:Arial,PMingLiU,sans-serif;-webkit-text-size-adjust:none;}.edt .b2r a{width:20px;height:20px;text-indent:-9999px;}.edt .b2r a.dp{margin-right:1px;padding-left:2px;width:78px;height:20px;text-indent:0;border-color:#848484 #E0E0E0 #E0E0E0 #848484;background:#FFF url(/static/image/common/newarow.gif) no-repeat 100% 0;}.edt .b2r a:hover.dp{border-color:#09C;background-position:100% -23px;}.edt .nbl{border-left:none;padding-left:0;}.edt .nbr{border-right:none;padding-right:0;}.edt .bar a:hover,.edt .bar a.hover{border-color:#09C;background-color:#FFF;text-decoration:none;}.edt .bar a.tblbtn_disabled:hover,.edt .bar a.hd_dsb:hover{border-color:#F2F2F2 !important;background-color:transparent !important;cursor:default;}.edt .area{padding:4px;background:#FFF;zoom:1;}.edt .pt{padding:0 !important;width:100%;height:400px;border:none;background:#FFF none;font-size:14px;}.ie8 .edt .pt{width:800px;max-width:100%;min-width:100%;}.edt .pt:focus{outline:none;-moz-box-shadow:none;}.edt a.cst{background-image:none;text-align:center;text-indent:0;}.edt a.cst img{vertical-align:middle;}.simpleedt .bar,.simpleedt .b1r,.simpleedt .b2r{height:22px;}.bar_swch{display:block;clear:both;}#e_bold{background-position:0 0;}#e_fontsize{width:45px;}#e_italic{background-position:-20px 0;}#e_underline{background-position:-40px 0;}#e_forecolor{background-position:-60px 0;}#e_backcolor{background-position:-80px 0;}#e_url{background-position:-40px -20px;}#e_unlink{background-position:-60px -20px;}#e_justifyleft{background-position:-80px -20px;}#e_justifycenter{background-position:-240px -40px;}#e_justifyright{background-position:-260px -40px;}#e_autotypeset{background-position:-220px -40px;}#e_floatleft{background-position:-100px -60px;}#e_floatright{background-position:-120px -60px;}#e_insertorderedlist{background-position:-100px -20px;}#e_insertunorderedlist{background-position:0 -60px;}#e_inserthorizontalrule{background-position:-20px -60px;}#e_tbl{background-position:-160px -20px;}.tblbtn_disabled{background-position:-180px -20px !important;}#e_tool{background-position:0 -40px;}#e_undo{background-position:-20px -40px;}#e_redo{background-position:-40px -40px;}#e_removeformat{background-position:-60px -40px;}#e_tpr{background-position:-80px -40px;}#e_chck{background-position:-100px -40px;}#e_hide{background-position:-120px -40px;}.hd_dsb{background-position:-200px -40px !important;}#e_free{background-position:-140px -40px;}#e_svd{background-position:-160px -40px;}#e_rst{background-position:-180px -40px;}#e_sml{background-position:-3px -80px;}.b2r #e_sml{background-position:-20px -20px;}#e_image{background-position:-43px -80px;}.b2r #e_image{background-position:0 -20px;}#e_attach{background-position:-83px -80px;}.b2r #e_attach{background-position:-200px -20px;}#e_code{background-position:-123px -80px;}.b2r #e_code{background-position:-120px -20px;}#e_quote{background-position:-163px -80px;}.b2r #e_quote{background-position:-140px -20px;}#e_pasteword{background-position:-60px -60px;}#e_downremoteimg{background-position:-80px -60px;}#e_page{background-position:-200px -60px;}#e_index{background-position:-220px -120px;}#e_password{background-position:-180px -120px;}#e_postbg{background-position:-160px -120px;}#e_fls{background-position:-3px -120px;}.b2r #e_fls{background-position:-260px -20px;}#e_aud{background-position:-43px -120px;}.b2r #e_aud{background-position:-220px -20px;}#e_vid{background-position:-83px -120px;}.b2r #e_vid{background-position:-240px -20px;}#e_at{background-position:-126px -120px;}.b2r #e_at{background-position:-140px 0;}#e_imagen,#e_attachn{position:absolute;top:3px;left:63px;width:14px;height:15px;background:url(/static/image/editor/editor.gif) no-repeat -244px -80px;text-indent:-9999px;}#e_attachn{left:100px;}.b2r #e_imagen,.b2r #e_attachn{top:-4px;left:35px;}.b2r #e_attachn{left:57px;}#e_switcher input{margin-right:4px;vertical-align:middle;}#e_simple,#e_fullswitcher{padding:0 2px;text-align:right;border:1px solid #C2D5E3;background:url(/static/image/common/card_btn.png) repeat-x 0 100%;}#e_fullswitcher{margin-right:3px;}#e_beginning{background-position:-246px -120px;}.b2r #e_beginning{background-position:-260px -78px;}.popupfix .px{margin-bottom:4px;}#e_body{display:block !important;}#e_body_loading{display:none;}.ie8 .editortoolbar .flbc{position:relative;}/* 第一部分，通用样式 */
.easy-uploader .cursor-select {
    cursor: pointer;
    user-select: none;
}
.easy-uploader .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 9px 15px;
    font-size: 12px;
    color: #409eff;
    border: 1px #409eff solid;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.easy-uploader .primary {
    color: #fff;
    background-color: #409eff;
    border: 0;
}
.easy-uploader .danger {
    color: #fff;
    background-color: #f56c6c;
    border: 0;
}
.easy-uploader .checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
.easy-uploader .unchecked {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB/klEQVQ4T5WTMWgTYRiG3++/2uKqEOlmwalWUaLk7prk7CLqKFScFDG56yIuFbdaRXCwOChY79qhXS04KCi4mLuE5EItCkJadHNodSkOLk1798oFEmopJfm27//+9/nfH75XsKcKlYyuxeomgGEQJwmhAKsEG7EWL8xn6+FuibSbOz9ODDTXUw8hvEegDEidwJdkrogzAEwCJhSf4nBzyju3sp3MWoDpTxf61rWthDxE8tacFb7d6yzpi4F5XYhZAdYG4/7c9FhppwWwffMxBHZftH365djyr/3E7TM7SA8KBr4CfOXmaw+kUM6kVazVAVzxrOrHg8TtWbGiX5ZIvRO1kxY7MOeE0F2reqobcfuO45vfCFbFCYwKydCzwsleAHZgPBMgLbZv/AXkarf2Ow7KxiVQFsXxjQ2qeNzL1Su9OCiURnOaxK+TL3wA+N7Nhy96ATi+cReQi2KXjSeIkfKs2u0eAYtQ/CkTNf04m/KZh5D1zNpaNxAnyAwTWinScL61SI5v3qegGPdHo/N6/fdBkEKYOaY1tWWQz12rNtMCjBPakcAMAQ4BtF0rfLMfZMLXr8Uis0L5vpmvZpcE0X9h2tpIPRJwsh0mxXglEqUEOCuEkYRJgJnNo3+mlkYazU6Ydr/mlEwDijeSOBMYASQScBVAg8IFLxcma9+pf7Er0M3JZjQlAAAAAElFTkSuQmCC);
}
.easy-uploader .checked {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABwUlEQVQ4T42Ty2sTYRTFf+dzQoqrFlToyo0IggtRRGc0KVIf6cJ/oGpwlcGFuvOBe9GNCoJSi2BtC/4HpW5kJjW6dJOFuCgIoigSBUFjzVyZtAnTR0i+3T33nvMd7kNseBdfHRjOu6EzOPabuX1gOwR/MBaaye+ZZyfe/chSlA3CODhvxkOJ4Y3Ca3EjEVenC7XZTr4rUImPXhPubg/iOthIbj0pvr2dgm2BShScllgchNypSbDSdPHNoi5/2JNvft61LBjtJ2BmPxHbhXIGH/OjX/eqEvmTkub7kuFby7PAW+Ee0tm03szOqRL7z4Uu9BFomGcB/ygJ3e/UGswpjP0l0LE2aPbJxBehQ92i1DYUEONZ8mreXiuMghhRWLO0vM2tnGwluReSDmP8MiVj4I4IHm1yaVQVRv4MUjljqw7NU1h+HpfcxNzBLcnp/9jslk00rPa3lR/Pec1JZ3raqz/tJq6Oced7od39JpHNd8eYgmHVL2FaGFTA0gHCRHuROqQwCq4j7gwkYtyYGqu11379MUV+GekBMNLrmIArU8Xa3KZj6gCXqsdHkqRVRkwYDMn4bqIus7pz3svHhaVGVvw/Gf+svZgLZgkAAAAASUVORK5CYII=);
}


/* 第二部分，分别样式 */
.easy-uploader .btn-box {
    display: flex;
    align-items: center;
}
.easy-uploader .list {
    list-style: none;
}
.easy-uploader .list-item {
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
    padding: 10px 10px 10px 55px;
    height: 52px;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    overflow: hidden;
}
.easy-uploader .preview {
    position: relative;
    z-index: 1;
    float: left;
    vertical-align: middle;
    margin-left: -40px;
    width: 32px;
    height: 32px;
}
.easy-uploader .preview-img {
    max-width: 70px;
    max-height: 70px;
}
.easy-uploader .info {
    position: relative;
    margin-right: 50px;
    padding-left: 4px;
    color: #606266;
}
.easy-uploader .filename {
    margin-right: 40px;
    /* padding-left: 5px; */
    line-height: 30px;
    color: #606266;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.easy-uploader .progress-wrapper {
    position: relative;
    height: 2px;
    background-color: #eee;
}
.easy-uploader .progressbar {
    height: 100%;
    background-color: #409eff;
}
.easy-uploader .progress-text {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    font-size: 14px;
    line-height: 30px;
    color: #606266;
}
.easy-uploader .delete-label {
    box-sizing: border-box;
    position: absolute;
    right: -17px;
    top: -7px;
    z-index: 0;
    padding-right: 12px;
    width: 46px;
    height: 26px;
    text-align: center;
    background-color: #13ce66;
    transform: rotate(45deg);
    box-shadow: 0 1px 1px #ccc;
}
.easy-uploader .delete-icon {
    position: absolute;
    margin-top: 12px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transform: rotate(-45deg);
}
.easy-uploader .select-icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
#imgUploadProgress{
    min-height: 200px;
}